<%= simple_captcha_options[:field] %>
<font class="hint">Security code</font><span class="tt captcha_img"><%= simple_captcha_options[:image] %>
<!--<img alt="Refresh image" src="/images/captcha_image.png" /> -->
</span>