<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/print.css">
<h2>Terms of Use</h2>

<p>These Terms of Use govern your access to and use of Localite’s website and mobile applications. By accessing or using Localite you are agreeing to these Terms of Use and concluding a legally binding contract with Localite Pty Limited (“Localite”). Do not access or use Localite if you are unwilling or unable to be bound by the Terms of Use.</p>
<p>In these Terms of Use "we", "us", and "our" refer to Localite, “you” or “your” means you as user of the website, “website” includes this website and any associated mobile application and “content” means any text, photos, audio, video and any form of communication or data and includes event listings, event feedback and user profile information.</p>
<p>These Terms of Use were last updated on 23 January 2011. </p>
<h2>User accounts</h2>

<p>By accessing the website, creating an account or uploading any content you represent and warrant to us that you are either: (a) at least 18 years old; or (b) at least 13 years old and acting under the supervision of a parent or guardian.</p>
<p>You may deactivate your account at any time. Following deactivation other users will not be able to access your profile and you will not receive email notifications from us. We will continue to store your information for a period of 6 months following deactivation, the sole purpose being that if you want to re-activate your profile within that time period your preferences and contacts will be available to you. </p>
<h2>Content</h2>

<p><b><i>Responsibility for your content</i></b></p>
<p>
  
You alone are responsible for any content you upload onto the website, and once published, it cannot always be withdrawn from the internet even after you have removed the content or deactivated your account. You assume all risks associated with that content, including anyone's reliance on its quality, accuracy, or reliability, or any disclosure by you of information that makes you personally identifiable. You represent that you own, or have the necessary permissions to use and authorize the use of your content as described herein. You may not imply that your content is in any way sponsored or endorsed by Localite.</p>
<p>You may expose yourself to liability if, for example, your content contains material that is false, intentionally misleading, or defamatory; violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms minors; or violates or advocates the violation of any law or regulation. </p>
<p><b><i>Ownership of content</i></b>
  
</p>
<p>We will use your content in a number of ways on the website and in the promotion of events on the website, including by publicly displaying your content and making derivative works of it. For that purpose you agree to grant us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable (through multiple tiers) right to do and authorise the doing of all acts comprised in the copyright and to exercise the publicity, and database rights (but no other rights) you have in your content. You also irrevocably grant the users of the website and any other site which utilises content on the website the right to access your content in connection with their use of the website. Finally, you irrevocably waive, and cause to be waived, against Localite and its users any claims and assertions of moral rights or attribution with respect to your content. </p>
<p><b><i>Content Guidelines</i></b></p>
<p>
  
We may review and delete uploaded content at any time at our discretion and without notice to you, particularly if it breaches the following Content Guidelines. You should report any content which you believe breaches these Content Guidelines.</p>
<p>You acknowledge that you are responsible for your content. Our website is a conduit for the content uploaded by its users and we accept no liability for such content.</p>
<p>You should not post any content or promote any event on the website that: </p>
<ul>
<li>Violates any applicable law, statute, ordinance or regulation.</li>
<li>Is unlawful, misleading, malicious, or discriminatory or could be considered to bully, intimidate, or harass any user.</li>
<li>Is hateful, threatening, defamatory, obscene or pornographic; incites violence; depicts nudity or portrays any sexual act; or contains graphic or gratuitous violence.</li>
<li>Infringes any third party's copyright, patent, trademark, trade secret or other proprietary rights or intellectual property rights, rights of publicity, confidentiality or privacy.</li>
<li>Contains or promotes any alcohol-related or other mature content (including advertisements) without appropriate age-based restrictions.</li>
<li>Is a contest, giveaway, or sweepstakes ("promotion") without complying with all applicable laws and licensing requirements.</li>
<li>May in any way cause harm to Localite including any reputational or non-economic loss.</li>
</ul>

<p><b><i>Advertising and third parties</i></b></p>
<p>The Service may include links to other websites or applications (each, a "Third Party Site"). We do not control or endorse any Third Party Site. You agree that we are not responsible for the availability or contents of such Third Party Sites. Your use of Third Party Sites is at your own risk.</p>
  
<h2>Restrictions</h2>
  
<p>To keep Localite safe certain activities must be restricted. You should report any suspicious activity or content which you believe breaches these restrictions. We may investigate any matter reported to us and remove any content or disable any account while we investigate that matter.</p>
<p>Upon completion of an investigation we may take any action we deem appropriate including permanently deleting content or disabling an account, reinstating the relevant content or account or reporting a matter to the relevant authorities.</p>
<p>The following actions are restricted on Localite:
</p>
<p>
<ul>
<li>Posting spam or other unauthorised commercial communications.</li>
<li>Posting content or taking any action that infringes or violates someone else's rights or otherwise violates the law or the Content Guidelines.</li>
<li>Soliciting personal information from other users, recording information about other users or otherwise breaching the privacy of other users.</li>
<li>Modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or adaptations of, reverse engineer, publicly display, sell, trade, or in any way exploit the website or another person’s intellectual property.</li>
<li>Remove or modify any copyright, trademark or other proprietary rights notice that appears on any portion of the website or on any materials printed or copied from the website.</li>
<li>Remove, circumvent, disable, damage or otherwise interfere with any security-related features of the website or features that prevent or restrict the use or copying of any content.</li>
<li>Attempt to gain unauthorized access to the website, user accounts, computer systems or networks connected to the website through hacking, password mining or any other means.</li>
<li>Use the website to transmit any computer viruses, worms, defects, Trojan horses or other items of a destructive nature (collectively, "Viruses").</li>
<li>Use any device, software or routine that interferes with the proper working of the website, or otherwise attempt to interfere with the proper working of the website.</li>
<li>Use the website to violate the security of any computer network, crack passwords or security encryption codes; disrupt or interfere with the security of, or otherwise cause harm to, the website.</li>
<li>Use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve, scrape, or index any portion of the website.</li>
<li>Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our technology infrastructure or otherwise make excessive traffic demands of the website.</li>
<li>Breaching these Terms of Use or assisting or encouraging others to do so.</li>
</ul>
<h2>Specific provisions for event promoters</h2>
<p>We do not guarantee the activity that your event listings will receive, such as the number of attendees or clicks you will get. We cannot control how people interact with your event listings, and are not responsible for click fraud or other improper actions that affect the cost of running event listings.</p>
  
  <h2>Payment Terms</h2>
<p>Joining Localite is free. Certain activities further described elsewhere on this website will attract fees in which case the following Payment Terms will apply.</p>
<p>When you provide payment details to us (including credit card, debit card or Paypal account details), you confirm that you are permitted to use those payment details and are at least 18 years old (or acting under the supervision of a parent or guardian). If you have set up an account with us you also authorize us to collect and store payment details and other related transaction information.</p>
<p>When you make a payment, you authorize us (and our designated payment processor) to charge the full amount (including any taxes) to the payment details you designate for the transaction. You are solely responsible for any fees or charges imposed by your financial institution in relation to any payment.</p>
<p>If you believe that an unauthorized or otherwise problematic transaction has taken place under your account or using your payment details, you agree to notify us immediately, so that we may take action to prevent financial loss. You are responsible for any payments made on your account or using your payment details and should keep these details secure and confidential.</p>
<p>You are responsible and agree to reimburse us for any fees, fines or other liabilities incurred by us (including costs and related expenses) that were caused by or arising out of payments that you authorized or accepted. You are also responsible for remitting any taxes which relate to those payments.</p>
<p>If you cancel an event listing you are responsible for any charges incurred until the event listing is removed from the website.</p>
<p>Localite acts as a payment agent for purchasing tickets to events. We may but are not obliged to intervene in any dispute between members and event promoters and have no liability for any claims made between members and event promoters.</p>
<p>Your only remedy for a technical failure or interruption of the payment functions of the website is to request that your transaction be completed at a later time.</p>
<p>You are responsible for ensuring that you comply with the laws of any country which would restrict your ability to make payments through the website or to transact with any prohibited counterparty.</p>

  <h2>Privacy</h2>
<p>Localite has a privacy policy which can be located on the website. You must read the policy and agree to be bound by it to use the website.</p>
  
  <h2>Indemnity</h2>
<p>You agree to indemnify and hold us and (as applicable) our related entities, affiliates, and our and their respective officers, directors, agents, and employees, harmless from and against any and all claims, demands, proceedings, losses and damages (actual, special and consequential) of every kind and nature, known and unknown, including reasonable legal fees, made by any third party due to or arising out of your breach of these Terms of Use or your violation of any law or the rights of a third party. We reserve the right, at your expense, to assume the exclusive defence and control of any matter for which you are required to indemnify us and you agree to cooperate with our defence of these claims. You agree not to settle any such matter without the prior written consent of Localite. We will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.</p>
  
  <h2>Limitation of Liability</h2>
<p>Localite is made available to you on an "as is" basis. Your use of the website is at your own discretion and risk. We make no claims or promises about the quality, accuracy, or reliability of the website or the safety or security of the website. Accordingly we are not liable to you for any loss or damage that might arise from your use of the website or reliance on the quality, accuracy, reliability, safety or security of the website.</p>
<p>We make no claims or promises about the conduct of third parties including other members. Accordingly, we are not liable to you for any loss or damage that might arise from their actions, including, for example, if another user misuses your content or identity, or if you have a negative experience with one of the event promoters on the website.</p>
<p>We expressly disclaim all warranties, whether express or implied, including implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>
<p>Your sole and exclusive right and remedy in case of dissatisfaction with the website or any other grievance shall be your termination and discontinuation of access to, or use of the website.</p>
<p>To the extent permitted by law in no event shall we, our affiliates and related entities or our suppliers be liable for lost profits or any special, incidental, indirect or consequential damages arising out of or in connection with Localite, our website or these Terms of Use (however arising, including negligence, and includes damage to reputation, costs of business interruption or loss of data or information). You agree to accept sole responsibility for the legality of your actions under the laws which apply to you. You agree that Localite and all affiliates and related entities of Localite have no responsibility for the legality of our members' actions.</p>
<p>To the extent permitted by law, and subject to any contrary requirements arising under any applicable law, our liability, and the liability of our related bodies corporate, affiliates or suppliers, to you or any third parties in any circumstance is limited to the greater of: (a) the amount of fees you pay to us in the 12 months prior to the action giving rise to liability; or (b) AUD$100.</p>

  <h2>Compliance with laws</h2>
<p>In addition to this Agreement, you must familiarise yourself with, and comply with the domestic laws (including common law), international laws, statutes, regulations and policies which apply to you and your use of the website. In particular, you must ensure that your activities and any content you upload do not violate the Broadcasting Services Act 1992 (Cth), the Privacy Act 1988 (Cth) or the Competition and Consumer Act 2010 (Cth).</p>
<p>You alone, and not Localite, are responsible for ensuring that your activities conducted on our website are lawful. You must ensure that you comply with all applicable laws in Australia and other countries. You must also ensure that you strictly comply with this agreement and the policies which form part of the agreement.</p>

  <h2>Dispute resolution</h2>
<p>We encourage you to try and resolve disputes with other members directly with them, to use a certified mediation (such as online dispute resolution processes) or an arbitration entity or to report disputes to your local police or law enforcement agency as appropriate. Localite may but is not obliged to intervene in any such dispute.</p>
<p>Any controversy or claim arising out of, or in connection with, these Terms of Use between Localite and you may be settled by independent, confidential mediation by reference to a commercial disputes centre, at either party's election. You and Localite agree to be bound by the outcome of such mediation. Each party will bear its own costs (and split equally any joint costs) of mediating the dispute.</p>

  <h2>Choice of law and venue</h2>
<p>These Terms of Use, as well as any claim, cause of action or dispute that might arise between you and Localite will be governed by the laws of Victoria, Australia. For any claim brought by either party, you agree to submit and consent to the exclusive jurisdiction of, the state and federal courts located within Victoria, Australia.</p>

<h2>Amendments</h2>
<p>We may modify the Terms of Use from time to time. When changes are made, we will notify you by making the revised version available on this webpage, and will indicate at the top of this page the date that revisions were last made. You should revisit these Terms of Use on a regular basis as revised versions will be binding on you. Any such modification will be effective upon our posting of new Terms of Use. You understand and agree that your continued access to or use of Localite after any posted modification to the Terms of Use indicates your acceptance of the modification. </p>

