<div class="dark_bg">
<div class="menu_bg">
<ul class="profile_tab">
<li><a class="active" href="<%=dashboards_path%>"><span>The Week Ahead</span></a></li>
<li><a href="<%=my_events_dashboards_path%>"><span>My Events</span></a></li>
<li><a href="#"><span>Things You May Like</span></a></li>
<li><a href="#"><span>Invites</span></a></li>
<li><a href="#"><span>My Friends' Events</span></a></li>
<li><a href="#"><span>Rate It</span></a></li>
</ul>
<br class="clear" />
<div class="rounded tab_content tab_content_mng">


<div class="round-wrapper"> 
            	<span class="tl"></span>
                	<span class="top-color"></span>
                <span class="tr"></span>
                <div class="area-cont">
                <div class="area-cont_mng">
                    <img src="images/profile_map.jpg" alt="Profile map" width="574" height="409" />
                    <ul class="map_info">
                    <li class="s_o_map">
                    <h2 class="h_head">Show on Map:</h2>
                    </li>
                    <li class="map_sele">
                    
                    <select name="">
                      <option>Animals, Sea Life &amp;Insects</option>
                      <option>Arts &amp; Culture</option>
                      <option>Wellness</option>
                      <option>Beauty</option>
                      <option>Books &amp; Comics</option>
                    </select>
                    
                    </li>
                    <li class="legend"><p class="h_head">Legend:</p></li>
                    <li class="s_o_map">
                        <ul>
                        <li><p><img class="blue_ico" src="images/blank.png" width="10" height="15" alt="My Events" />My Events</p></li>
                        <li><p><img class="pink_ico" src="images/blank.png" width="10" height="15" alt="Things You May Like" />Things You May Like</p></li>
                        <li><p><img class="green_ico" src="images/blank.png" width="10" height="15" alt="Invite" />Invite</p></li>
                        <li><p><img class="orange_ico" src="images/blank.png" width="10" height="15" alt="My Friends' Events" />My Friends' Events</p></li>
                        <li><p><img class="white_ico" src="images/blank.png" width="10" height="15" alt="Other' Events" />Other' Events</p></li>
                        </ul>
                    </li>
                    </ul>
                    <br class="clear" />

                 </div>
                 </div>
                <span class="bl"></span>
                	<span class="bottom-color"></span>
                <span class="br"></span>              
            
</div>

</div>
</div>
</div>